/*
* FILE: Reponsável pela estilizacao da pagina alter_curso.jsp
*/
/*
* COLORS:
*
*
*/
.button{
  margin-top: 5px;
  margin-right: 10px;
  width: 150px;
}
/*altera a cor padrao do checkbox selecionado para verde*/
.input-checkbox[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #4caf50;
     background-color: #4caf50;
}

.curso_form {
     width: 800px;
}
